* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#vietnam {
    color: rgb(255, 255, 255);
    font-family: 'Walnut';
    font-size: 110pt;
    letter-spacing: -6pt;
    position: fixed;
    top: 40px;
    left: 100px;
}

#rap-history {
    color: rgb(255, 255, 255);
    font-family: 'Walnut';
    font-size: 110pt;
    letter-spacing: -6pt;
    position: fixed;
    top: 180px;
    left: 100px;
}


p {
    color: rgb(255, 255, 255);
    font-family: "lft-etica-mono", sans-serif;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    width: 20%;
}

#subtitle-1 {
    position: fixed;
    left: 100px;
    bottom: 200px;
}

#subtitle-2 {
    position: fixed;
    left: 100px;
    bottom: 100px;
}


#f1 {
    width: 195px;
    position: fixed;
    top: 80px;
    left: 65%;
}

#f2 {
    width: 200px;
    position: fixed;
    top: 80px;
    left: 80%;
}

#f3 {
    width: 200px;
    position: fixed;
    top: 400px;
    left: 50%;
}

#f4 {
    width: 200px;
    position: fixed;
    top: 400px;
    left: 65%
}

#f5 {
    width: 200px;
    position: fixed;
    top: 400px;
    left: 80%;
}

.generations img {
    display: block;
    transition: all 0.2s ease-in-out;
}

.generations img:hover {
    transform: scale(1.1);
}

@media (max-width: 800px) {
    
    #f1{
        width: 100px;
    }
  }