* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 100px;
}

#header {
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 200px;
}

.header {
    background-color: rgb(255, 255, 255);
    height: auto;
}

#f2-homepage:link{
    text-decoration: none;
}

h1:hover{
    color: rgb(37, 77, 84);
}

h1 {
    text-decoration: none;
    font-family: "lft-etica-mono", sans-serif;
    font-weight: 700;
    font-size: 110pt;
    letter-spacing: -10pt;
    position: relative;
    top: -35px;
    left: -10px;
    color: black;
}

h3{
    font-family: "lft-etica-mono", sans-serif;
    font-weight: 500;
    font-size: 17pt;
}

#subhead {
    font-family: "lft-etica-mono", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    margin-bottom: 80px;
}

#body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr)) 2.17fr;
    column-gap: 50px;
    row-gap: 50px;
}

.body {
    background-color: rgb(255, 255, 255);
    height: auto;
}

hr{
    height: 20px;
    border: none;
}

p{
    font-family: "lft-etica-mono", sans-serif;
    font-weight: 100;
    font-size: 12pt;
    line-height: 16pt;
}

#f2-DSK{
    width: 255px;
}

#f2-VD{
    width: 258px;
}

.caption{
    font-family: "lft-etica-mono", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 7pt;
    width: 300px;
    position: relative;
    top: 20px;
    text-align: left;
}

.year {
    text-align: right;
    font-family: "Walnut";
    font-size: 40pt;
    position: relative;
    top: -8px;
}

#versus{
    font-size: 20pt;
}

#beef-year{
    text-align: right;
    font-family: "Walnut";
    font-size: 20pt;
}

.milestone-description {
    text-align: right;
    font-family: "lft-etica-mono", sans-serif;
    font-weight: 300;
    font-size: 15pt;
}

#last-paragraph{
    margin-bottom: 50px;
}

#long-year{
    line-height: 35pt;
}

.footer{
    padding: 10px;
    text-align: center;
    width: 180px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

#arrow{
    font-size: 20pt;
}

#go-back-button:link{
    text-decoration: none;
}

#go-back{
    color: black;
}

#go-back:hover{
    color: rgb(255, 255, 255);
}

.footer:hover{
    background-color: black;
}